{{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="text" name="backUrl" hidden value="{{ backUrl ?? '' }}">
    <button class="btn btn-success icon-link"><twig:ux:icon class="bi" name="bi:floppy" /> {{ button_label|default('Save') }}</button>
{{ form_end(form) }}
