{% extends 'base.html.twig' %}

{% block title %}Author{% endblock %}

{% block body %}
    <h1>Author</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ author.name }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ author.firstName }}</td>
            </tr>
            <tr>
                <th>Books</th>
                <td>
                    {% for book in author.books %}
                        {{ book.name }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <twig:Button type="back" path="{{ path('app_author_index') }}" />

    <twig:Button type="edit" path="{{ path('app_author_edit', {'id': author.id}) }}" />

    {{ include('author/_delete_form.html.twig') }}
{% endblock %}
