{% extends 'base.html.twig' %}

{% block title %}Publisher{% endblock %}

{% block body %}
    <h1>Publisher</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ publisher.name }}</td>
            </tr>
            <tr>
                <th>Books</th>
                <td>
                    {% for bookVersion in publisher.bookVersions|sort((a, b) => a.versionDate <=> b.versionDate) %}
                        <a href="{{ path('app_book_show', {'id': bookVersion.book.id}) }}">{{ bookVersion.book.name }} - {{ bookVersion.name }} : {{ bookVersion.versionDate | date('d-m-Y') }}</a><br>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <twig:Button type="back" path="{{ path('app_publisher_index') }}"/>

    <twig:Button type="edit" path="{{ path('app_publisher_edit', {'id': publisher.id}) }}"/>

    {{ include('publisher/_delete_form.html.twig') }}
{% endblock %}
