{% extends 'base.html.twig' %}

{% block title %}Reservations index{% endblock %}

{% block body %}
    <h1>Active Reservations index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Book</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.user.userFirstName }} {{ reservation.user.username }}</td>
                <td>{{ reservation.bookVersion.book.name }} : {{ reservation.bookVersion.name }}</td>
                <td>
                    <twig:Button type="show" path="{{ path('app_reservation_show', {'id': reservation.id}) }}"/>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
