{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Book</th>
                <td>{{ reservation.bookVersion.book.name }}</td>
            </tr>
            <tr>
                <th>Book Version</th>
                <td>{{ reservation.bookVersion.name }}</td>
            </tr>
            <tr>
                <th>Authors</th>
                <td>
                    {% for author in reservation.bookVersion.book.authors %}
                        {{ author.name }} {{ author.firstName }} <br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Publisher</th>
                <td>{{ reservation.bookVersion.publisher.name }}</td>
            </tr>
            {% if is_granted('ROLE_LIBRARIAN') %}
                <tr>
                    <th>User</th>
                    <td>{{ reservation.user.userFirstName }} {{ reservation.user.username }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    {% if is_granted('ROLE_USER') %}
        <twig:Button type="back" path="{{ path('app_reservation_user_index') }}"/>
    {% else %}
        <twig:Button type="back" path="{{ path('app_reservation_index') }}"/>
    {% endif %}
        {{ include('reservation/_delete_form.html.twig') }}

    {% set isReturned = true %}
    {% for borrowing in reservation.bookVersion.borrowings %}
        {% if borrowing.returned is same as(false) %}
            {% set isReturned = false %}
        {% endif %}
    {% endfor %}

    {% if isReturned and is_granted('ROLE_USER') %}
        <twig:Button type="borrow" path="{{ path('app_borrowing_new_from_reservation', {bookVersionId: reservation.bookVersion.id}) }}"/>
    {% endif %}
{% endblock %}
