{% extends 'base.html.twig' %}

{% block title %}Books index{% endblock %}

{% block body %}
    <h1>Books index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Authors</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.name }}</td>
                <td>
                    {% for author in book.authors %}
                        {{ author.firstName }} {{ author.name }} <br>
                    {% endfor %}
                </td>
                <td>
                    <twig:Button type="show" path="{{ path('app_book_show', {'id': book.id}) }}"/>
                    <twig:Button type="edit" path="{{ path('app_book_edit', {'id': book.id}) }}"/>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <twig:Button type="new" path="{{ path('app_book_new') }}"/>
{% endblock %}
