{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>Book</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ book.name }}</td>
            </tr>
            <tr>
                <th>Authors</th>
                <td>
                    {% for author in book.authors %}
                        <a href="{{ path('app_author_show', {'id': author.id}) }}">{{ author.firstName }} {{ author.name }}</a><br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Versions</th>
                <td>
                    {% for bookVersion in book.bookVersions|sort((a, b) => a.versionDate <=> b.versionDate) %}
                        <a href="{{ path('app_book_version_show', {'id': bookVersion.id}) }}">{{ bookVersion.name }} - {{ bookVersion.publisher.name }} : {{ bookVersion.versionDate | date('d-m-Y') }}</a><br>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <twig:Button type="back" path="{{ path('app_book_index') }}"/>

    <twig:Button type="edit" path="{{ path('app_book_edit', {'id': book.id}) }}"/>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
