{% extends 'base.html.twig' %}

{% block title %}Borrowing{% endblock %}

{% block body %}
    <h1>Borrowing</h1>

    <table class="table">
        <tbody>
            {% if not is_granted('ROLE_USER') %}
                <tr>
                    <th>User</th>
                    <td>{{ borrowing.user.firstName }} {{ borrowing.user.name }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Book Borrowed</th>
                <td>{{ borrowing.bookVersion.book.name }} : {{ borrowing.bookVersion.name }}</td>
            </tr>
            <tr>
                <th>Borrowing Date</th>
                <td>{{ borrowing.borrowingDate ? borrowing.borrowingDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Return Date</th>
                <td>{{ borrowing.returnDate ? borrowing.returnDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Returned</th>
                <td>{{ borrowing.returned ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_LIBRARIAN') %}
        <twig:Button type="back" path="{{ path('app_borrowing_index') }}"/>
    {% else %}
        <twig:Button type="back" path="{{ path }}"/>
    {% endif %}

    {% if is_granted('ROLE_LIBRARIAN') %}
        <twig:Button type="return" path="{{ path('app_borrowing_return', {'id': borrowing.id}) }}"/>
    {% endif %}

{% endblock %}
