{% extends 'base.html.twig' %}

{% block title %}Borrowing{% endblock %}

{% block body %}
    <h1>Borrowing</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Book Borrowed</th>
                <td>{{ borrowing.bookVersion.book.name }} : {{ borrowing.bookVersion.name }}</td>
            </tr>
            <tr>
                <th>Borrowing Date</th>
                <td>{{ borrowing.borrowingDate ? borrowing.borrowingDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Return Date</th>
                <td>{{ borrowing.returnDate ? borrowing.returnDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <twig:Button type="back" path="
        {% if is_granted('ROLE_LIBRARIAN') %}
            {{ path('app_borrowing_index') }}
        {% else %}
            {{ path('app_borrowing_user_index') }}
        {% endif %}
    "/>

    {% if is_granted('ROLE_LIBRARIAN') %}
        <twig:Button type="edit" path="{{ path('app_borrowing_edit', {'id': borrowing.id}) }}"/>
    {% endif %}

{% endblock %}
