{% extends 'base.html.twig' %}

{% block title %}Borrowing index{% endblock %}

{% block body %}
    <h1>List of my outstanding borrowings</h1>
    <p><em>(maximum : {{ app.user.maxBorrow }} books)</em></p>

    <table class="table">
        <thead>
            <tr>
                <th>Book</th>
                <th>Borrowing Date</th>
                <th>Return Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for borrowing in borrowings %}
            <tr>
                <td>{{ borrowing.bookVersion.book.name }} : {{ borrowing.bookVersion.name }}</td>
                <td>{{ borrowing.borrowingDate ? borrowing.borrowingDate|date('Y-m-d') : '' }}</td>
                <td>{{ borrowing.returnDate ? borrowing.returnDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="btn btn-info icon-link" href="{{ path('app_borrowing_show', {'id': borrowing.id}) }}"><twig:ux:icon class="bi" name="mdi:show" /> Détail</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas d'emprunts trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if borrowings|length < app.user.maxBorrow %}
        <a class="btn btn-primary icon-link" href="{{ path('app_borrowing_new') }}"><twig:ux:icon class="bi" name="zondicons:add-outline" /> Nouvel Emprunt</a>
    {% else %}
        <twig:Alert type="danger" message="Vous ne pouvez plus emprunter de livre pour l'instant !"/>
    {% endif %}
{% endblock %}
