<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a href="{{ path('homepage') }}" class="navbar-brand">Library</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if is_granted('IS_AUTHENTICATED') %}
                    {% if is_granted('ROLE_LIBRARIAN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_book_index') }}">Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_book_version_index') }}">Versions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_publisher_index') }}">Publishers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_author_index') }}">Authors</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_LIBRARIAN') or is_granted('ROLE_USER') %}
                        {% if is_granted('ROLE_LIBRARIAN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_borrowing_index') }}">List of Borrowings</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_borrowing_user_index') }}">My Borrowings</a>
                            </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Reservations
                            </a>
                            <ul class="dropdown-menu">
                                {% if is_granted('ROLE_LIBRARIAN') %}
                                    <li><a class="dropdown-item" href="#">List of Reservations</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_USER') %}
                                    <li><a class="dropdown-item" href="{{ path('app_reservation_user_index') }}">My Reservations</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_reservation_new') }}">New Reservation</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_book_version_can_be_reserved') }}">List of Books available to Reservation</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_user_index') }}">List of Users</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            <div class="navbar-text">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if not is_granted('IS_AUTHENTICATED') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                        </li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_user_show', {id: app.user.id}) }}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
