{% extends 'base.html.twig' %}

{% block title %}BookVersions index{% endblock %}

{% block body %}
    <h1>BookVersions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Book Name</th>
                <th>Version Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for book_version in book_versions %}
            <tr>
                <td>{{ book_version.book.name }}</td>
                <td>{{ book_version.name }}</td>
                <td>
                    <twig:Button type="show" path="{{ path('app_book_version_show', {'id': book_version.id}) }}"/>
                    <twig:Button type="edit" path="{{ path('app_book_version_edit', {'id': book_version.id}) }}"/>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <twig:Button type="new" path="{{ path('app_book_version_new') }}"/>
{% endblock %}
