{% extends 'base.html.twig' %}

{% block title %}BookVersion{% endblock %}

{% block body %}
    <h1>BookVersion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ book_version.name }}</td>
            </tr>
            <tr>
                <th>Publisher</th>
                <td><a href="{{ path('app_publisher_show', {'id': book_version.publisher.id}) }}">{{ book_version.publisher.name }}</a></td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ book_version.versionDate | date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Book</th>
                <td><a href="{{ path('app_book_show', {'id': book_version.book.id}) }}">{{ book_version.book.name }}</a><br></td>
            </tr>
            <tr>
                <th>Authors</th>
                <td>
                    {% for author in book_version.book.authors %}
                        <a href="{{ path('app_author_show', {'id': author.id}) }}">{{ author.firstName }} {{ author.name }}</a><br>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <twig:Button type="back" path="{{ path('app_book_version_index') }}"/>

    <twig:Button type="edit" path="{{ path('app_book_version_edit', {'id': book_version.id}) }}"/>

    {{ include('book_version/_delete_form.html.twig') }}
{% endblock %}
